/* 「イチゴの画像をアップロードして下さい」の案内文の制御 */
@media (max-width: 768px) {
    #upload-prompt .part-1::after {
        content: "\A";
        white-space: pre;
    }
}

.fs-1-responsive {
    font-size: 2.5rem;
}
.img-lg {
    width: 40px;
    height: auto;
}

@media (max-width: 1280px) {
    .fs-1-responsive {
        font-size: 1.75rem;
    }
    .img-lg {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .fs-1-responsive {
        font-size: 1.25rem;
    }
    .img-lg {
        width: 20px;
    }
}



/* アップロードボックスのデザイン */
#upload-box {
    background-color: whitesmoke;
    height: 35vh;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    border: 3px dashed #000;
}



/* アップロードした画像のプレビュー機能 */
#upload-image {
    display: none;
}

#uploaded-image {
    display: none;

    max-width: 95%;
    max-height: 95%;
}