/* カードクラスの大きさを制御 */
.card {
    height: 55vh;
}

.card img {
    max-height: 55%;
    width: 95%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .card {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .card img {
        max-height: none;
        height: auto;
    }
}

/* 画面幅によってカードとアコーディオンを切り替え */
#card-row {
    display: flex;
}

#accordion-row {
    display: none;
}

@media (max-width: 768px) {
    #card-row {
        display: none;
    }

    #accordion-row {
        display: flex;
    }
}