{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/index.css">
<script defer src="../static/js/index.js"></script>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{{ url_for('upload') }}" method="post" id="upload-form">

    <div class="container text-center">

        <!-- アップロードの案内文 -->
        <div class="row justify-content-center">
            <div class="col-10 col-md-12 mt-5 mb-4 mb-md-5">
                <p class="fs-1-responsive text-center" id="upload-prompt">
                    <span class="part-1">撮影したイチゴの画像を</span><span class="part-2">アップロードして下さい</span>
                </p>
                <img src="../static/images/caret-down.svg" alt="caret-down" class="img-lg">
            </div>
        </div>

        <!-- アップロードエリア -->
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <label id="upload-box" class="d-flex justify-content-center align-items-center hover-grow"
                    for="upload-image">
                    <input type="file" name="file" id="upload-image" accept="image/*" onchange="displayImage(this)">
                    <p id="upload-text">ファイルを選択<br>or<br>ドラッグ＆ドロップ</p>
                    <img id="uploaded-image" src="" alt="Uploaded Image">
                </label>
            </div>
        </div>

        <!-- ボタンエリア -->
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <button type="button" class="mx-lg-5 mx-md-4 mx-2 btn btn-secondary hover-grow" id="cancel-button"
                    onclick="reloadPage()">キャンセル</button>
                <button type="submit" class="mx-lg-5 mx-md-4 mx-2 btn btn-warning hover-grow"
                    id="analyze-button">解析開始</button>
            </div>
        </div>

    </div>

</form>

<!-- ローディングオーバーレイとスピナー -->
<div id="loading-overlay" style="display: none;">
    <div class="spinner-border text-light" role="status" id="loading-spinner">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

{% endblock %}