{% extends "base.html" %}

{% set css_file = 'css/index.css' %}
{% set js_file = 'js/index.js' %}
{% set page_title = 'いちごの写真を<br>アップロードしてください' %}

{% block content %}
    <form enctype="multipart/form-data" action="{{ url_for('upload') }}" method="post" id="upload-form">

        <div class="input-section">
            <label for="strawberryImage" class="upload-label">
                <span id="uploadPrompt">ここをクリックして画像をアップロード</span>
            </label>
            <input type="file" name="file" id="strawberryImage" accept="image/*">
        </div>

        <div class="button-section">
            <button type="button" id="cancelBtn">キャンセル</button>
            <button type="submit" id="submitBtn">解析する</button>
        </div>

    </form>

    <div class="growth-stage-info">
        <h2>いちごの成長段階</h2>
        <img src="{{ url_for('static', filename='images/growth_stage_info.png') }}" alt="いちごの成長段階の説明画像" id="growthStageImage">
    </div>
{% endblock %}
